.cover__link {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../sprint-3-images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    align-items: center;  
    position: relative;
}

.cover__link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    opacity: 0.3;
}

.cover__link:hover::before {
    opacity: 0.8; 
}


@media screen and (max-width: 1024px) {
    .cover__link::before { 
        max-width: 1024px;
        max-height: 640px;
    }
} 

@media screen and (max-width: 768px) {
    .cover__link::before { 
        max-width: 768px;
        max-height: 480px;
    }
}