.cover__link {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../sprint-3-images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    align-items: center;  
    position: relative;
}

