.cover__link {
    margin: 0;
    width: 100%;
    min-height: 740px;
    background-image: url(../../../sprint-3-images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    align-items: center;  
    position: relative;
}

.cover__link:hover {
    opacity: 0.8;   
}

