.place__title {
    margin: 0;
    max-width: 460px;
    height: 152px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    grid-area: title;
    font-family: 'Inter-Black';
    font-style: normal;
}