.place__title {
    margin: 0;
    max-width: 460px;
    max-height: 152px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    grid-area: title;
    font-family: 'Inter-Black';
    font-style: normal;
}

.place__title:nth-child(2) {
    height: 76px;
}

.place__title:nth-child(3) {
    height: 76px;
}

.place__title:nth-child(4) {
    height: 152px;
}

.place__title:nth-child(5) {
    height: 76px;
}

@media screen and (max-width: 1024px) {
    .place__title { 
        width: 440px;
    }
}