.places {
    margin: 0 auto;
    max-width: 984px;
    min-height: 3292px;
    display: grid;
    row-gap: 80px;
    padding-top: 92px;
}

@media screen and (max-width: 1024px) {
    .places { 
        width: 928px;
    }
} 
