.place__image {
    margin: 0;
    max-width: 460px;
    max-height: 460px;
    grid-area: image;
}

@media screen and (max-width: 1024px) {
    .place__image { 
        width: 440px;
        height: 440px;
    }
}

@media screen and (max-width: 855px) {
    .place__image { 
        width: 340px;
        height: 340px;
    }
}

@media screen and (max-width: 743px) {
    .place__image {
        width: 320px;
        height: 320px;
    }
}

@media screen and (max-width: 342px) {
    .place__image {
        max-width: 100%;
    }
}