.intro__list {
    margin: 0;
    padding: 0;
    max-width: 690px;
    height: 90px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
    font-family: 'Inter-Regular';
    font-style: normal;
}

.bold-text {
    font-weight: 700;
}

@media screen and (max-width: 320px) {
    .intro__list {

        width: 288px;
        height: 90px;
    }
}