.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    height: 1005px;
    padding: 56px 148px 0;
    font-family: 'Inter';
    font-style: normal;
}

/* @media screen and (max-width: 1024px) {
    .lead {
        width: 928px;
        padding: 48px 48px 0;       
    }
} */

