.cover__subtitle {
    margin: 0;
    position: absolute;
    width: 360px;
    height: 66px;
    font-family: 'Inter-Regular';
    font-style: normal; 
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;
    padding-top: 429px;
    z-index: 1;
}