.cover__subtitle {
    margin: 0;
    position: relative;
    max-width: 100%;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 32px;

}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        padding-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }
} 