.header {
    margin: 0 auto;
    max-width: 1184px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 28px;
}

@media screen and (max-width: 1024px) {
    .header {
        margin: 0 auto;
        max-width: 928px;  
        padding: 28px 48px 0; 
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin: 0 auto;
        max-width: 720px;
        padding: 28px 24px 0 24px;    
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 0 auto;
        max-width: 288px;
        padding-top: 16px;
    }
}


