.header {
    width: 1184px;
    height: 52px;
    padding-top: 28px;
    display: grid;
    grid-template-columns: 176px 955px 48px;
    justify-items: end;
    padding-left: 48px;
    
}

@media screen and (max-width: 1024px) {

}