.place__paragraphs {
    margin: 0;
    min-width: 484px;
    height: 145px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    grid-area: paragraph;
    display: grid;
    grid-gap: 26px;
}

.place__paragraph {
    margin: 0;
}
