.place__paragraphs {
    margin: 0;
    max-width: 484px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    grid-area: paragraphs;
}

.place__paragraph {
    margin: 0;
    padding-bottom: 26px;
}

@media screen and (max-width: 1024px) {
    .place__paragraphs { 
        width: 456px;
    }
    .place__paragraph {
        padding-bottom: 27px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraphs { 
        max-width: 352px;
        font-size: 16px;
    }
    .place__paragraph {
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraphs { 
        max-width: 288px;
        font-size: 16px;
    }
    .place__paragraph {
        padding-bottom: 25px;
    }
    
}