.footer__link {
    max-width: 50px;
    height: 18px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration-line: none;
}

.footer__link:hover {
    opacity: 0.8;
}