.place__paragraph {
    margin: 0;
    padding-bottom: 26px;
}

.place__paragraph:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        padding-bottom: 27px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        padding-bottom: 25px;
    }
}
