.footer__copyright {
    margin: 0;
    min-width: 186px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;  
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        width: 186px;
        line-height: 14px;
        text-align: left;
    }
} 