.footer__copyright {
    margin: 0;
    min-width: 186px;
    max-height: 16px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;  
}