.lead__image {
    width: 100%;
    height: 615px;
    margin: 64px 0 0 0;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        height: 580px;
        margin: 56px 0 0 0;
    }
} 

@media screen and (max-width: 768px) {
    .lead__image {
        padding: 0;
        height: 480px;
        margin: 56px 0 0 0;
    }
} 

@media screen and (max-width: 320px) {
    .lead__image {
        height: 200px;
        margin: 40px 0 0 0;
    }
}