.intro__text { 
    margin: 0;
    max-width: 690px;
    height: 208px; 
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;  
    color: #FFFFFF;
    font-family: 'Inter-Regular';
    font-style: normal;
}