.intro {
    max-width: 690px;
    height: 429px;
    padding: 92px 442px 92px 148px;
    display: grid;
    font-family: 'Inter';
    font-style: normal;
    grid-template-rows: 98px 241px 90px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 0; 
        padding: 92px 286px 92px 35px;
    }
} 