.place__link {
    margin: 0;
    max-width: 456px;
    min-height: 22px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;   
}

@media screen and (max-width: 768px) {
    .place__link { 
        width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__link { 
        width: 288px;
    }
}

