.cover__background {
    position: absolute;
    max-width: 1184px;
    min-height: 740px;
    background-image: url(../../../sprint-3-images/cover-trains.jpg);
    background-size: cover;
    background-position: center;   
}