.cover__title {
    margin: 0;
    position: absolute;
    width: 560px;
    height: 152px;
    font-family: 'Inter-Bold';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;
    padding-top: 245px;
    z-index: 1;
}