.cover__title {
    position: absolute;
    width: 560px;
    height: 152px;
    left: 360px;
    top: 6246px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
}