.place {
    max-width: 928px;
    height: 640px;
    display: grid;
    grid-template-columns: 460px 456px;
    grid-template-areas: 
        "title website"
        "image paragraph"
    ;
    grid-gap: 40px 48px;
    padding-left: 148px;    
}

