.place {
    margin: 0;
    max-width: 984px;
    max-height: 660px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-areas: 
        "title website"
        "image paragraphs"
    ;
    grid-gap: 40px 48px; 
}


@media screen and (max-width: 1024px) {
    .place { 
        width: 928px;
        height: 640px;
        grid-template-columns: 440px 456px;
        gap: 32px;
        box-sizing: border-box;
    }
} 

@media screen and (max-width: 768px) {
    .place { 
        max-width: 720px;
        height: 581px;
        grid-template-columns: 340px 352px;
        gap: 28px;
    }
}

@media screen and (max-width: 320px) {
    .place { 
        max-width: 320px;
        min-height: 1042px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "website"
        "image"
        "paragraphs"
    ;
        row-gap: 32px;
        margin: 0 auto;
        box-sizing: border-box;
        justify-items: center;
        padding-top: 50px;
    }
}