.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    max-height: 18px;
    padding: 92px 48px 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
} 

@media screen and (max-width: 768px) {
    .footer {
        padding: 88px 0 24px 0;
        width: 720px;
        margin: 0 auto;
    }
} 

@media screen and (max-width: 320px) {
    .footer {
        margin: 0;
        padding: 64px 118px 24px 16px;
        max-width: 186px;
        min-height: 310px;
        flex-direction: column;    
    }
} 