.place__website {
    margin: 0;
    max-width: 456px;
    min-height: 46px;
    grid-area: website;
    display: grid;
    row-gap: 12px;
    align-self: end;
}    

.place__website:hover {
    opacity: 0.8;   
}

@media screen and (max-width: 768px) {
    .place__website { 
        width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__website { 
        width: 288px;
    }
}