.intro__title {
    margin: 0;
    width: 690px;
    height: 58px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    font-family: 'Inter-Black';
    font-style: normal;
}

@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        height: 70px;
    }
}